/* Botón Badge */
.badge-button {
    margin-top: 1.5rem; /* mt-6 */
    padding: 1.5rem 3.5rem; /* px-14 py-6 */
    font-size: 16px; /* text-xl */
    color: #fff; /* text-white */
    font-weight: 600; /* font-semibold */
    border-radius: 0rem ; /* rounded-lg */
    background-color: #2ABBF8; 
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .badge-button:hover {
    background-color: #7DD4FC; /* hover:bg-green-600 */
  }
  